name: CI

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Builda imagem
        run: docker compose build dev

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Builda imagem
        run: docker compose build dev

      - name: Executa lint
        run: docker compose run --rm dev npm run lint

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Builda imagem
        run: docker compose build dev

      - name: Executa testes
        run: docker compose run --rm dev npm run test:ci
