name: CI

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Builda imagem
        run: docker-compose build dev

      - name: Executa lint
        run: docker-compose run --rm dev npm run lint

  test:
    name: Testes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Builda imagem
        run: docker-compose build dev

      - name: Executa testes
        run: docker-compose run --rm dev npm run test:ci

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [lint, test]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Builda imagem
        run: docker-compose build dev

      - name: Gera build
        run: docker-compose run --rm dev npm run build
